{% extends "AppSport/index_actividades_lista.html" %}

{% block contenidoQueCambia %}
    <!-- Page Content-->
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body">
            <p class="text-white m-0"><h3>A continuación te mostramos los datos asociados al DNI que ingresaste.<h3></p>
        </div>
    </div>
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5 justify-content-center"> 
        <div class="col-md-4 mb-5">
            <div class="card h-100 mx-auto"> 
                <div class="card-body">
                    <h2 class="card-title">SOCIO</h2>
                    <p class="card-text">
                        {% for socio in sociostodos %}
                            <h5>• DNI: {{ socio.dni }}</h5>
                            <p>• Nombre: {{ socio.nombre }}</p>
                            <p>• Apellido: {{ socio.apellido }}</p>
                            <p>• Mail: {{ socio.mail }}</p>
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
